// Fonts
%opensans-light {
  font-family: "Open Sans";
  font-weight: 300;
}
%opensans-regular {
  font-family: "Open Sans";
  font-weight: 400;
}
%opensans-semibold {
  font-family: "Open Sans";
  font-weight: 600;
}

%cormorant-light {
  font-family: "Cormorant";
  font-weight: 300;
  font-style: italic;
}

%cormorant-regular {
  font-family: "Cormorant";
  font-weight: 400;
}

// Colors
$black: #151618;
$bg: #f7f2ea;
$white: #fff;

// Media

$laptop: 1000px;
$tablet: 768px;
$mobile-l: 480px;
$mobile: 360px;
