.clients {
  background-color: rgba($bg, 0.5);
  padding: 60px 0;
  &__list {
    display: flex;
    justify-content: center;
    gap: 26px;
  }

  &__item {
    // flex-basis: 280px;
    max-width: 280px;
  }

  &__item-text {
    font-size: 16px;
    font-style: italic;
    margin-bottom: 10px;
  }

  &__item-name {
    font-style: normal;
    font-weight: 600;
  }
}

@media (max-width: $laptop) {
  .clients {
    &__item:last-child {
      display: none;
    }
  }
}

@media (max-width: $tablet) {
  .clients {
    &__list {
      flex-wrap: wrap;
      gap: 30px 76px;
    }
    &__item:last-child {
      display: flex;
    }
  }
}

@media (max-width: 680px) {
  .clients {
    &__list {
      gap: 30px 20px;
    }
    &__item {
      flex-basis: 220px;
    }
  }
}
@media (max-width: $mobile-l) {
  .clients {
    padding: 50px 0;
  }
}

@media (max-width: $mobile) {
  .clients {
    &__item--hide {
      display: none;
    }
    &__item:last-child {
      display: none;
    }
  }
}
