.main-blog {
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 40px 58px;
    margin-bottom: 60px;
  }

  &__item {
    flex-basis: 542px;
    display: flex;
    column-gap: 20px;
  }

  // &__item-img {
  // }

  &__item-content {
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
  }

  &__item-title {
    height: 86px;
    @extend %cormorant-regular;
    font-size: 24px;
    line-height: normal;
    margin-bottom: 10px;
  }

  &__item-author {
    font-size: 13px;
    margin-bottom: 48px;
  }

  &__item-link {
    font-size: 13px;
    // padding-right: 8px;
    // display: block;
    position: relative;

    &::after {
      content: "";
      background-image: url(../images/blog/read-icon.svg);
      position: absolute;
      width: 5px;
      height: 10px;
      top: 5px;
      left: 38px;
    }
  }

  &__btn {
    display: block;
    padding: 12px;
    width: 150px;
    text-align: center;
    border: 1px solid $black;
    margin: 0 auto;
  }
}

@media (max-width: 1185px) {
  .main-blog {
    &__list {
      gap: 67px 20px;
      justify-content: center;
    }
    &__item {
      flex-basis: 460px;
    }
    &__item-img {
      width: 230px;
      height: 153px;
    }
  }
}

@media (max-width: 979px) {
  .main-blog {
    &__list {
      gap: 30px;
    }
    &__item {
      flex-basis: 542px;
      &:nth-child(odd) {
        margin-right: 100px;
      }
    }
    &__item-img {
      width: 270px;
      height: 180px;
    }
  }
}

@media (max-width: 635px) {
  .main-blog {
    &__item {
      flex-basis: 542px;
      &:nth-child(odd) {
        margin-right: 0px;
      }
    }
  }
}

@media (max-width: 535px) {
  .main-blog {
    &__item-img {
      width: 230px;
      height: 153px;
    }
    &__item-author {
      margin-bottom: 21px;
    }
  }
}
@media (max-width: 495px) {
  .main-blog {
    &__list {
      flex-direction: column;
      justify-content: center;
    }
    &__item {
      flex-direction: column;
      flex-basis: content;
      align-items: center;
    }
    &__item-img {
      width: 270px;
      height: 180px;
      margin-bottom: 10px;
    }
    &__item-content {
      width: 270px;
    }
    &__item-title {
      height: fit-content;
      margin-bottom: 5px;
    }
    &__item-author {
      margin-bottom: 10px;
    }
  }
}
