.header {
  &__top {
    display: flex;
    justify-content: space-between;
    padding: 30px 0 28px;
    align-items: center;
  }

  &__top-logo {
    margin-bottom: 35px;
  }
}

.menu {
  display: flex;
  &__btn {
    display: none;
    width: 40px;
    height: 18px;
    & span {
      background-color: $black;
      height: 2px;
      width: 100%;
    }
  }

  &__close-btn {
    display: none;
  }

  &__list {
    display: flex;
    gap: 65px;
    // margin-right: 150px;
  }

  &__list-item {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
  }

  // &__list-link {
  //   font-style: normal;
  //   font-weight: 400;
  //   font-size: 18px;
  // }

  &__icons {
    display: flex;
    gap: 20px;
  }

  // &__basket {
  // }

  &__login {
    margin-right: 40px;
  }

  &__search {
    margin-left: 40px;
  }
}

.mobile-nav {
  display: none;
}

@media (max-width: $laptop) {
  .header {
    &__top {
      min-height: auto;
    }
    &__top-logo {
      margin-bottom: 0;
    }
  }
  .menu {
    &__login {
      margin-right: 15px;
    }

    &__search {
      margin-left: 15px;
    }
  }
}

@media (max-width: 900px) {
  .header {
    &__top {
      padding: 30px 44px;
    }
  }

  .menu {
    order: -1;
    &__btn {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    &__close-btn {
      display: block;
      position: absolute;
      top: 20px;
      right: 20px;
    }

    &__list {
      transform: translateY(-100%);
      // display: none;
      position: absolute;
      display: block;
      top: 0;
      right: 0;
      left: 0;
      width: 480px;
      margin: 0 auto;
      padding-top: 60px;
      text-align: center;
      background-color: #fff;
      transition: transform 0.6s ease;
    }
    &__list.menu__list--open {
      transform: translateY(0%);
    }
    &__list-item {
      font-family: "Cormorant";
      margin-bottom: 30px;
      font-weight: 400;
      font-size: 24px;
    }
  }
  .mobile-nav {
    display: block;
  }
  .mobile-menu {
    padding-top: 60px;
    margin: 60px 30px;
    border-top: 2px solid $bg;
    &__item {
      font-size: 13px;
      margin-bottom: 35px;
    }
  }
  .mobile-icons {
    background-color: $bg;
    display: flex;
    column-gap: 70px;
    justify-content: center;
    padding: 20px 0;
  }
}
@media (max-width: 650px) {
  .header {
    &__top-logo {
      margin-left: 50px;
    }
    &__top {
      padding: 10px 0;
    }
  }
}

@media (max-width: $mobile-l) {
  .header {
    &__top-logo img {
      height: 56px;
    }
  }
  .menu {
    &__list {
      width: 360px;
    }
    &__login {
      margin-right: 0px;
    }

    &__search {
      margin-left: 0px;
    }
  }
}
